---
import Layout from '../layouts/Layout.astro';
import general from "../content/params/general.json"

import Banner from "../components/home/Banner.astro"
import Therapist from "../components/home/Therapist.astro"

const titlePage = `${general.title} - ${general.subtitle}`

import { getCollection } from 'astro:content';

const allTherapist = await getCollection("therapeutes")

const allTherapistOrdered =  allTherapist.sort((a,b)=>a.data.order - b.data.order )

---

<Layout title={titlePage}>
	<main>
		<Banner />

		{allTherapistOrdered.map((therapist)=><Therapist therapist={therapist} />)}
	</main>
</Layout>

<style>

</style>
